{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mira mi imagen</h1>
    </div>

    <div class="col-4">
        <img src="assets/dist/img/applications_internet.png" class="img-thumbnail">

    </div>
</div>

{{> footer }}